header {
  text-align: center;
  margin: 4rem 0;
}

.logo {
  width: 390px;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 4rem;
  margin: 1rem 0 0;
  color: #566469;
}

h2 {
  font-size: 1.4rem;
  margin: 0;
  color: #999;
}
